@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--scrollbar-track-color: rgb(14, 14, 14);
	--scrollbar-thumb-color: rgb(237 34 93 / 0.8);
}

html {
	background: black;
}
body {
	color: white;
}

article.doc {
	@apply flex max-w-[90ch] flex-col space-y-3;
}

article > section,
article > * > section {
	@apply space-y-3 pt-3;
}

p > a {
	@apply border-b-2 border-p5/80 bg-gray-700 bg-opacity-40 px-1 py-0.5 font-medium tracking-wide text-gray-50;
	@apply hover:border-p5 hover:text-p5 focus:border-p5 focus:text-p5;
	@apply motion-safe:transition-colors;
}

p {
	@apply py-0.5 font-sans text-lg font-light text-gray-300 opacity-90;
}
code {
	@apply rounded border border-gray-600/30 bg-gray-700/60 px-1 py-0.5 text-white;
}
h3 {
	@apply pt-7 text-2xl font-semibold leading-6 text-p5/80;
}
h4 {
	@apply pt-3 text-xl font-semibold leading-6 text-p5/80;
}

/* Works on Firefox */
* {
	scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	@apply w-4;
}

*::-webkit-scrollbar-track {
	background: var(--scrollbar-track-color);
}

*::-webkit-scrollbar-thumb {
	background-color: var(--scrollbar-thumb-color);
	border-radius: 20px;
	border: 4px solid var(--scrollbar-track-color);
}
